* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #dedede;
	display: flex;
	align-items: center;
	height: 100vh;
}

.gameboard {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	max-height: 60vh;
	max-width: 60vh;
	border: 1rem solid black;
}

.top {
	border-top: 0.5rem solid black;
}

.bottom {
	border-bottom: 0.5rem solid black;
}

.right {
	border-right: 0.5rem solid black;
}

.left {
	border-left: 0.5rem solid black;
}

.color {
	width: 50%;
	height: 50%;
	display: inline-block;
}

.blue {
	background: #2171fc;
}

.blue.light {
	background: #1ba2fc;
}

.red {
	background: #ff1a39;
}

.red.light {
	background: #be001d;
}

.yellow {
	background: #fccf21;
}

.yellow.light {
	background: #d6af00;
}

.green {
	background: #47cf21;
}

.green.light {
	background: #2bb301;
}

.btn-start {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: black;
	color: white;
	font-size: 2.5rem;
	cursor: pointer;
	border: none;
	outline: none;
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
}

.hide {
	display: none;
}
